<%= @place.name %>

<ul>
 <% for post in @place.posts %>
 <li><p> <%= "#{post.title}" %></p>
 <p> <%= "#{post.description}" %></p> 
 <p> <%= "#{post.posted_on}" %></p>
 <% end %>
 </ul>
 <p>
 <a href="/posts/new?place_id=<%= @place.id %>" >create new post </a>