<%= @place.name %>

<ul>
 <% for post in @place.posts %>
 <li>, <%= post.title %>, <%= post.description %>, <%= post.posted_on %>
 <% end %>
 </ul>
 <p>
 <a href="/posts/new?post_id=<%= @place.id %>" >create new post </a>